<ion-button button
            expand="block"
            color="primary"
            *ngIf="!auth.loggedIn"
            (click)="auth.login()">Log In
</ion-button>

<ng-template [ngIf]="auth.loggedIn">
    <ion-avatar *ngIf="auth.user">
        <img [src]="auth.user.picture">
    </ion-avatar>
    <!--    <ion-button-->
    <!--            button-->
    <!--            expand="block"-->
    <!--            color="danger"-->
    <!--            (click)="auth.logout()">Log Out</ion-button>-->
</ng-template>
