<ion-header>
  <ion-toolbar>
    <ion-title>Об'єкти поблизу</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Закрити</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let facility of facilities" (click)="openFacility(facility)">
    <ion-card-header>
      <ion-icon [name]="facDefs[facility.type].icon"></ion-icon>
      <ion-card-subtitle>{{facDefs[facility.type].name}}</ion-card-subtitle>
      <ion-card-title>{{facility.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{facility.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
