<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">Закрити</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-card *ngIf="facility">
    <ion-card-header>
      <ion-icon [name]="facDefs[facility.type].icon"></ion-icon>
      <ion-card-subtitle>{{facDefs[facility.type].name}}</ion-card-subtitle>
      <ion-card-title>{{facility.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{facility.description}}
    </ion-card-content>
  </ion-card>
  <div class="facility-activities" *ngIf="facility?.activities?.length > 0">
    <h1><b>Активності на об'єкті:</b></h1>
    <ion-card *ngFor="let activity of facility.activities"
              (click)="presentActivityModal(activity)">
      <ion-card-header>
        <ion-card-subtitle>{{activity.time | date: 'EEEE, d MMMM, yyyy'}}</ion-card-subtitle>
        <ion-card-title>{{activity.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{activity.description}}
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noActivities>
    <ion-text class="no-data">На цій локації активності відсутні</ion-text>
  </ng-template>
  <ion-fab *ngIf="auth.authorized">
    <ion-fab-button (click)="presentNewActivityModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
