<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Easy Workout
    </ion-title>
    <app-auth slot="end"></app-auth>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">
  <div class="map-container">
    <div id="mapid" style="height:100%" #leafletMap>
      <div id="crosshair">+</div>
    </div>
  </div>

  <ion-fab>
    <ion-fab-button (click)="locationClicked()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-menu side="start" menuId="main" contentId="content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Меню</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="'./new-facility'">
        <ion-icon name="new-facility" slot="start"></ion-icon>
        <ion-label>Додати об'єкт</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
